@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Colores de marca SIIES */
@theme {
  --color-brand-50: #eef4ff;
  --color-brand-100: #dce7fd;
  --color-brand-200: #c0d4fc;
  --color-brand-300: #95b8f9;
  --color-brand-400: #6292f4;
  --color-brand-500: #3e6cee;
  --color-brand-600: #284be2;
  --color-brand-700: #2039cf;
  --color-brand-800: #2031a8;
  --color-brand-900: #1f2e85;
  --color-brand-950: #171f51;
}

body {
  font-family: var(--font-sans), system-ui, sans-serif;
}
